/* nav */
nav{
	width:100%;
	margin:15px auto 0px;
	min-height:130px;
}
	
nav>a{
	display: inline-block;
	padding: 5px 0px;
	margin: 0 0px;
	transition: all 1s ease;
}

.nav_main{
	transform: translate3d(0,50px,0);
}
.nav_rooms{
	transform: translate3d(0,150px,0);
}
.nav_activities{
	transform: translate3d(0,50px,0);
}
.nav_access{
	transform: translate3d(0,150px,0);
}
.nav_gallery{
	transform: translate3d(0,50px,0);
}
.nav_faq{
	transform: translate3d(0,150px,0);
}


nav.align_normal>a{
	transform: translate3d(0,0,0);
}

nav.align_normal>a.active{
	transform: translate3d(0,60px,0);
}


/**/
/*Content*/
section{
	display:none;
}

#landing{display:block;}


.thumb-images img{
	float:left;
	display:inline-block;
	padding:0 1rem 1rem 0;
	width:33.33%;
	height:205px;
}

.thumb-images img.last{
	padding:0 0 1rem;
}
/**/

/**/
#rooms h1{
	float:left;
}

#activities article{
	border:1px #ddd solid;
}

#activities img{
	padding:0 1rem 1rem 0;
	width:33.33%;
	height:150px;
}