/* nav */
nav{
	width:100%;
	margin:15px auto 0px;
	min-height:130px;
}

nav>a{
	display: inline-block;
	padding: 5px 0px;
	margin: 0 0px;
	transition: all 1s ease;
}

.nav_main{
	transform: translate3d(0,50px,0);
}
.nav_rooms{
	transform: translate3d(0,150px,0);
}
.nav_activities{
	transform: translate3d(0,50px,0);
}
.nav_access{
	transform: translate3d(0,150px,0);
}
.nav_gallery{
	transform: translate3d(0,50px,0);
}
.nav_faq{
	transform: translate3d(0,150px,0);
}


nav.align_normal>a{
	transform: translate3d(0,0,0);
}

nav.align_normal>a.active{
	transform: translate3d(0,60px,0);
}
nav.align_normal>a.active, nav.align_normal>a.focus{
	text-decoration:none;
}

/**/
/*Content*/
section{
	display:none;
}

#landing{display:block;}


.thumb-images img{
	float:left;
	display:inline-block;
	padding:0 1rem 1rem 0;
	width:33.33%;
	height:205px;
}

.thumb-images img.last{
	padding:0 0 1rem;
}
/**/

/**/
#rooms h1{
	text-align: left;
	padding-left: 0.5rem;
	clear: both;
}

label{
	padding: 1.2rem 0 0.5rem;
}
/*
.hidden{
		display:none;
}
.show{
	display: block;
}*/
#activities article,#faq article{
	margin-top:1rem;
	border:1px #999 solid;
}

#activities img{
	padding:0 1rem 1rem 0;
	width:33%;
	height:150px;
}
#activities img:last-child{
	padding:0 0 1rem 0;
	width:33%;
	height:150px;
}
#activities ul li, #activities p{
	text-align: left;
}
/*FAQ*/
#faq article div{
	display:none;
}

#activities article div {
	display:none;
}

/*Gallery*/
#gallery ul li{
	list-style:none;
	display:inline;
}

#gallery ul li div{
	display:inline-block;
	overflow-y:hidden;
	height:100px;
}
/**/
.nav-room {
	text-align: left;
	min-height: initial;
	display: none;
}
.nav-room.active {
	text-align: left;
	min-height: initial;
	display: block;
}
.nav-room .nav{
	margin: 0 0 2rem;
}
.nav-room>.navbar-nav>.active>a{
	color: #fff;
	background-color: #000;
}
.nav-room-item {
	display: inline-block;
	padding: .5rem 1rem;
	/*border: 1px solid #000;*/
	cursor: pointer;
	margin-bottom: .5rem;
	transition: all .5s ease;
}
.nav-room-item:hover{
	background-color: #000;
	color: #fff;
	text-decoration: none;
	transition: background-color 0.2s ease-out;
}
.nav-room-item.active {
	background-color: #000;
	color: #fff;
}
.room-toggle {
	display: none;
}
.room-toggle.active {
	display: block;
}
article.nav-room-item {
	border: 0;
	padding: initial;

}
.room-list{
	display: none;
}
.room-list.active{
	display: block;
}

/**/
.preview img,
.preview2 img,
.preview3 img,
.preview4 img,
.preview5 img,
.preview6 img,
.preview7 img{
	max-height: 364px;
	height: 364px;
}
.room-thumbnail{
	display: inline-block;
}
.room-thumbnail img{
	height: 80px;
	width: 100px;
	float: left;
	margin: 0.5rem;
}
