/* nav */
nav{
	width:100%;
	margin:15px auto 0px;
	min-height:350px;
	height:450px;
}
	
nav>a{
	display: inline-block;
	padding: 5px 0px;
	margin: 0 0px;
	transition: all 1s ease;
}

.nav_main{
	transform: translate3d(0,120px,0);
}
.nav_news{
	transform: translate3d(0,270px,0);
}
.nav_facilities{
	transform: translate3d(0,150px,0);
}
.nav_rooms{
	transform: translate3d(0,50px,0);
}

.nav_access{
	transform: translate3d(0,175px,0);
}
.nav_faq{
	transform: translate3d(0,30px,0);
}
.nav_contact{
	transform: translate3d(0,250px,0);
}

nav.align_normal>a{
	transform: translate3d(0,0,0);
}

nav.align_normal>a.active{
	transform: translate3d(0,60px,0);
}


/**/