<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>The Retreat</title>
		<meta name="description" content="Lloyd&#39;s Inn is a 34 room Orchard Road boutique hotel that offers a touch of nature within Singapore city. Call +65 6737 7309 to Book Now!">
		<meta property="og:title" content="Lloyd’s Inn">
		<meta property="og:image" content="http://lloydsinn.com/images/fb_logo.png">
		<meta property="og:url" content="http://lloydsinn.com">
		<meta property="og:description" content="Lloyd&#39;s Inn is a 34 room Orchard Road boutique hotel that offers a touch of nature within Singapore city. Call +65 6737 7309 to Book Now!">
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
		<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
		<link rel="shortcut icon" href="http://lloydsinn.com/favicon.ico" type="image/x-icon">
		<!--link href="./css/93fd7824-c704-43d6-a48a-eb38dae6cb69.css" rel="stylesheet" type="text/css">-->
		<!--main style-->
		<link rel="stylesheet" href="./css/ec22df36.styles.css">
		<link rel="stylesheet" href="./css/style.css">
		<script src="./js/jquery-1.11.3.js"></script>
			<!-- endbuild -->
			
	</head>
	<body ng-app="lloydsInnApp" ng-controller="AppController" class="ng-scope">
		<div class="hme-background" data-img-src="images/a6c3c513.bg-home-faded.jpg" style="opacity: 1; background-image: url(http://lloydsinn.com/images/a6c3c513.bg-home-faded.jpg);"/></div>
		<!--[if lt IE 7]>
		<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
		<![endif]-->
		<!-- Add your site or application content here -->
		<span itemscope="" itemtype="http://schema.org/LocalBusiness">
			<div class="container">
				<div class="hdr">
					<div class="hdr-logo-wrapper hidden" style="opacity: 1;">
						<a class="hdr-logo active" href="#" data-section="#landing" ng-click="maximiseNav()">
						<img itemprop="image" alt="Lloyd&#39;s Inn" class="svg" src="./js/cfadc25d.logo.svg" data-fallback="images/4ba1a136.logo.png" />
						</a>
						<!-- ngInclude: 'views/social-media.html' -->
						<div class="h-mobile-hide ng-scope" ng-include="&#39;views/social-media.html&#39;" ng-show="socialInit">
							<div class="soc ng-scope" ng-show="socialInit">
								<a class="btn-social" href="http://facebook.com/lloydsinn" target="_blank">
									<span class="icon-fb"/>
								</a> <a class="btn-social" href="http://twitter.com/lloydsinn" target="_blank">
									<span class="icon-twitter"/>
								</a> <a class="btn-social" href="http://instagram.com/lloydsinn" target="_blank">
									<span class="icon-instagram"/>
								</a> <a class="btn-social" href="http://www.tripadvisor.com.sg/Hotel_Review-g294265-d338321-Reviews-Lloyd_s_Inn-Singapore.html" target="_blank">
									<span class="icon-tripadvisor"/>
								</a>
							</div>
						</div>
					</div>
					<!--Booking button.-->
					<form class="frm-basic bkg ng-pristine ng-valid ng-hide" ng-show="showCalendar">
						<div class="bkg-wrapper">
							<input class="bkg-datepicker bkg-datepicker-checkin btn-translucent hasDatepicker ng-pristine ng-valid" ng-model="checkInDate" type="text" placeholder="Check in" id="dp1448020287813">
							<input class="bkg-datepicker bkg-datepicker-checkout btn-translucent hasDatepicker ng-pristine ng-valid" ng-model="checkOutDate" type="text" placeholder="Check out" id="dp1448020287814">
						</div>
							<span class="h-tablet-show h-break"></span>
							<a class="btn btn-booking btn-translucent" href="" ng-click="sendBookingInfo()">Search</a>
					</form>
					<a class="btn-booknow" href="" ng-click="pickDate()" ng-hide="showCalendar">Book now</a>
					<!--end booking button.-->
					<nav class="menu-nav">
						<a href="#" id="nav_main" class="nav-link nav_main" data-section="#main">The Retreat</a>
						<a href="#" id="nav_news" class="nav-link nav_news" data-section="#news">News</a>
						<a href="#" id="nav_facilities" class="nav-link nav_facilities" data-section="#facilities">Facilities</a>
						<a href="#" id="nav_contact" class="nav-link nav_contact" data-section="#contact">Contact</a>
						<a href="#" id="nav_rooms" class="nav-link nav_rooms" data-section="#rooms">Rooms</a>
						<a href="#" id="nav_access" class="nav-link nav_access" data-section="#access">Access</a>
						<a href="#" id="nav_faq" class="nav-link nav_faq" data-section="#faq">FAQ</a>
					</nav>
				</div>
				<div class="contentWrapper">
					<!--keep landing empty-->
					<section id="landing"></section>
					<section id="main" class="">
						Testing here.
					</section>
					<section id="news" class="">
						Testing 2 here for news.
					</section>
					<section id="facilities" class="">
						Testing here.for facilities.
					</section>
					<section id="contact" class="">
						Testing here.for content.
					</section>
					<section id="rooms" class="">
						Testing here.for rooms.
					</section>
					<section id="access" class="">
						Testing here.for access.
					</section>
					<section id="faq" class="">
						Testing here.for faq.
					</section>
				</div>
			</div>
		</span> 
		<script src="./js/menu.js"></script>
	</body>
</html>